.lead__image {
  max-width: 100%;
  margin-top: 64px;
  margin-bottom: 8px;
  object-fit: cover;

}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 670px) {
  .lead__image {
    margin-top: 40px;
  }
}

@media screen and (max-width: 560px) {
  .lead__image {
    padding: 0;
  }
}
