.intro {
  max-width: 690px;
  padding-top: 92px;
  padding-bottom: 92px;
  padding-left: 148px;
}

@media screen and (max-width: 1024px) {
.intro {
  padding-left: 48px;
  padding-right: 48px;
}
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-bottom: 88px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 670px) {
  .intro {
    padding-top: 64px;
    padding-left: 16px;
    padding-bottom: 64px;
    padding-right: 16px;
  }
}
